  @import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  line-height: 1.6;
  font-size: 24px;
  color: #523249;
  background:#C3B299;
  display: flex;
  flex-direction: column;
  font-family: 'Alkatra', cursive;
}

.search-container {
  max-width: 600px;
  margin: 5vh auto;
  padding: 20px;
  text-align: center;
  background-color: #CBD4C2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
  font-family: 'Alkatra', cursive;
  color: #523249;
  background-color: #DBEBC0;
  padding: 10px;
  margin: 10px 1px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(245, 245, 186);
}

.search-btn {
  cursor: pointer;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}


.superhero-container {
  max-width: 400px;
  margin: 5vh auto;
  padding: 20px;
  text-align: center;
  background-color: #CBD4C2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 25px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

nav a, 
.superhero-link {
  text-decoration: none;
  color: #815355;
  cursor: pointer;
}

.navbar-container {
  background-color: #815355;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
  font-size: 30px;
}

nav a {
  color: #C3B299;
}

.active {
  text-decoration: none;
  color: #DBEBC0;
}



.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-family: 'Alkatra', cursive;
  color: #523249;
  padding: 10px;
  border-radius: 10px;
  background-color: #DBEBC0;
  font-size: 15px;
  max-width: 400px;
  margin: 2vh auto;
  padding: 10px;
  text-align: center;
  background-color: #CBD4C2;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
button:hover,
.search-btn:hover {
  color: #DBEBC0;
  background-color: #523249;
}
