* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  line-height: 1.6;
  font-size: 24px;
  color: #523249;
  background:#C3B299;
  display: flex;
  flex-direction: column;
}

.search-container {
  max-width: 600px;
  margin: 5vh auto;
  padding: 20px;
  text-align: center;
  background-color: #CBD4C2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
  background-color: #DBEBC0;
  padding: 10px;
  margin: 5px auto;
  border-radius: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}


.superhero-container {
  max-width: 400px;
  margin: 5vh auto;
  padding: 20px;
  text-align: center;
  background-color: #CBD4C2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 24px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 16px;
  margin-bottom: 10px;
}


.navbar-container {
  background-color: #815355;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: #C3B299;
  margin: 0 20px;
  font-size: 30px;
}

.active {
  text-decoration: underline;
  color: #DBEBC0;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: #DBEBC0;
}
